.hero {
  background-color: var(--accent-2);
  border-radius: var(--radius-4);

  a {
    font-family: var(--heading-font-family);
  }

  h1 {
    font-size: calc(var(--font-size-9));
    margin-bottom: 1rem;
    text-wrap: pretty;
  }

  ul {
    margin-bottom: var(--space-6);
  }
}
