.mobile-link {
  color: var(--gray-12);
  display: block;
  font-family: var(--heading-font-family);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  padding: var(--space-2) var(--space-3) var(--space-2) var(--space-5);
  position: relative;
  text-decoration: none;
  width: 100%;

  &:focus,
  &:hover {
    color: var(--gray-12);
  }

  &[aria-current='page'] {
    color: var(--accent-11);
    text-decoration: underline;

    &::before {
      content: '';
      background-color: var(--accent-10);
      border-radius: 50%;
      position: absolute;
      left: var(--space-1);
      height: var(--space-2);
      width: var(--space-2);
      top: calc(50% - var(--space-1));
    }
  }
}
