.desc-paragraph + .desc-paragraph {
  margin-top: var(--space-3);
}

.properties-block {
  figcaption {
    color: var(--accent-12);
    font-family: var(--font-heading);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-bold);
  }
}
